h1{
    text-align: right;
    color: #4537de;
    background-color:#2b2a2a;
}

ul{
    background-color: darkblue;
   color: black;
}

a{
    color: darkgoldenrod;
}



body{
    background-image:url(img/moorish-pattern_644416-582.jpg) ; 
}

img{
    height: 200;
    width: 200;
}